.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    min-height: 100px;
    padding: 10px;
    color: rebeccapurple;
    background-color: aqua;
}